div.backBtn {
  width: 80px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: absolute;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #333;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
  top: 0px;
    display: none;
}

span.mLine {
  top: 13px;
  opacity: 0;
    display: none;
}

span.bLine {
  top: 26px;
    display: none;
}

.label {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1rem;
    
        margin-top: 2px;
}

div.backBtn p.label {
  left: 13px
}

div.backBtn span.line {
  left: -10px;
  height: 3px;
}

div.backBtn:hover span.line {
  background-color: #DBAE27;
}

div.backBtn span.tLine {
    display: block;
  width: 11px;
  transform: rotate(-35deg);
  left: -10px;
  top: 9px;
}

div.backBtn span.mLine {
    display: block;
  opacity: 1;
  width: 22px;
}

div.backBtn span.bLine {
    display: block;
  width: 11px;
  transform: rotate(35deg);
  left: -10px;
  top: 17px;
}