.filtering{
    border:solid 2px;
  }
  #cat-item > a > span {
    width: 110px;
  }

  select#soflow, select#soflow-color {
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   font-family: 'Helvetica-Neue-Light';
}
.product-row{
  padding-top: 0px;
  }
  .img__wrap {
  position: relative;
}

.product-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(44, 44, 44, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 25px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  text-align: justify;
  text-justify: inter-word;
        word-break: break-all;
}

.product-card:hover .product-description {
  visibility: visible;
  opacity: 1;
}
.product-name{
  color: #DBAE27 !important;
  width: 100%;
  display: block;
/*  border-top: 1px solid #DBAE27;*/
  border-bottom: 1px solid #DBAE27;
    font-size: 40px !important; 
}

.product-card:hover .product-name{
  background: #DBAE27;
  color: #fff !important;
/*  font-family: Helvetica-Neue-Bd;*/
    font-weight: bolder;
}
.color-img img{
  border-radius: 50px;
  margin: 3px;
}

.color-img{
  display: inline-block;
  padding: 4px;
  position: left;
  float: right;
  position: absolute;
  right: 0;
}
.product-card{
  text-align: center;
  border: 1px solid whitesmoke;
}


/*   menu */

.site-content {
  /*max-width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;*/
  display: flex;
  /*align-items: center;
  justify-content: center;*/
}
.site-content__headline {
  font-weight: 200;
  color: #ffffff;
  font-size: calc(2vw + 10px);
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
 /* left: 50px;*/
  top: 17px;
  cursor: pointer;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #323232;
  margin-bottom: 4px;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
  width: 15px;
}
.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 1;
}
.nav:before, .nav:after {
  content: "";
  position: fixed;
  left: 190px;
  right: 190px;
  /*width: 100%;*/
  height: 100vh;
/*  background: rgba(234, 234, 234, 0.2);*/
  z-index: -1;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateY(-100%);
          transform: translateX(0%) translateY(-100%);
}
.nav:after {
  
  transition-delay: 0s;
}
.nav:before {
/*  background: white;*/
  transition-delay: .1s;
}
.nav__content {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}
.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-right: 25px;
}
.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  transition: all .3s ease;
  z-index: -1;
}
.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #000;
  -webkit-transform: translateX(0px) rotate(-45deg);
          transform: translateX(0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
          transform: translateX(1px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
  transition-delay: .1s;
}
body.nav-active .nav:before {
  transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}
body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}
body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}

body.nav-active .nav:before{
  background: rgba(234, 234, 234, 0.2);
  
}
body.nav-active .nav:before{
    background: white;
}
    
    
    
    
    /*-------------*/
    #soflow {
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    border-bottom-width: 2px #000 !important;
/*    padding-left: 60px !important;*/
        width: 194px !important;
        background-image:none !important;
        cursor: pointer;
}

        select:focus{
   outline: 0;
 }
    