 
    
    
    
    
    /* 
 * All Style
 */


.page-title h1 {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #485a64;
  font-weight: bold;
}

.container.spc{
  margin-bottom: 20px
}


/* 
 * Product Page 3 
 */

/*

.product-container {
  background-color: #fff;
  height: 400px;
  overflow: hidden;
  position: relative;
}


.product-description {
  background-color: #F7F7F7;
  border-top: 1px solid #EFEFEF;
  padding: 0px 0px;
  color: #797979;
}

.product-image {
  position: relative;
  overflow: hidden;
  transition: 1s;
}
*/
.product-description-2 {
  border-top: 1px solid #DBAE27;
  padding: 6px 0px;
}
    
.product-link-2 {
  position: absolute;
  background: #fff;
  width: 100px;
  height: 100px;
  color: #4FDAA4;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  padding: 35px 0;
  line-height: 25px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  opacity: 0;
  transition: 1s;
  font-style: italic;
}






.product-image-2 img {
  width: 100%;
}

.product-description-2 h1 {
  font-size: 23px;
  margin-bottom: 5px;
  margin-top: 0;
  display: inline-block;
  width: 78%;
}

.product-description-2 p {
  color: #C4C4C4;
}


.product-option-2 {
  border-top: 1px solid #D2D2D2;
}

.product-option-2 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.product-option-2 .product-color-2 ul {
  list-style-type: none;
  padding: 0;
}

.product-option-2 .product-color-2 li {
  display: inline-block;
  width: 15px;
  height: 15px;
}

/*
.product-color li.red {
  background-color: #F75375;
}
.product-color li.blue {
  background-color: #53A0F7;
}
.product-color li.green {
  background-color: #59CFAF;
}
.product-color li.gray {
  background-color: #C7C7C7;
}
.product-color li.black {
  background-color: #4E5156;
}
.product-color li.dark-blue {
  background-color: #2060AF;
}
*/






    
  